<app-header name="Cabins" type="MENU" />
<ion-content class="tw-ion-bg-gray-900">
  <!--  <ion-input
    class="tw-mx-4 tw-min-h-10 tw-w-fill-available tw-text-start tw-font-roboto tw-text-base tw-font-normal tw-text-gray-900 tw-ion-bg-gray-100 tw-ion-rounded-md"
    id="search"
    name="search"
    fill="outline"
    placeholder="Search ..."
  >
    <ion-icon
      class="tw-text-xl tw-ion-bg-gray-100"
      name="search"
      slot="start"
    />
  </ion-input> -->

  <div class="tw-m-4 tw-flex tw-w-fill-available tw-flex-col tw-gap-y-4">
    @for (cabin of cabins; track cabin.id) {
      <div
        class="tw-flex tw-w-full tw-items-center tw-rounded-xl tw-bg-gray-100 tw-px-4 tw-py-2"
        (click)="navigateDetailsPage(cabin)"
      >
        <div class="tw-grow">
          <div
            class="tw-font-roboto tw-text-base tw-font-normal tw-text-gray-900"
          >
            Name / Number
          </div>
          <div class="tw-font-roboto tw-text-lg tw-font-bold tw-text-gray-900">
            {{ cabin.cabinNumber }}
          </div>
        </div>

        <ion-toggle
          class="tw-ion-handle-bg-checked-gray-900 tw-ion-handle-bg-gray-900 tw-ion-track-bg-checked-gray-600 tw-ion-track-bg-gray-400"
          [checked]="cabin.isActive"
          [disabled]="true"
        >
        </ion-toggle>

        <ion-icon class="tw-text-3xl tw-text-gray-900" name="chevron-forward" />
      </div>
    }
  </div>

  <ion-button
    class="tw-fixed tw-bottom-[calc(1vw+1vh)] tw-right-[calc(1vw+1vh)] tw-text-2xl tw-ion-bg-gray-100 tw-ion-text-gray-900 tw-ion-rounded-full"
    type="button"
    (click)="isAddCabinModalOpen = true"
  >
    <ion-icon name="add" slot="icon-only" />
  </ion-button>

  <app-cabin-add
    [isOpen]="isAddCabinModalOpen"
    (backdropClicked)="isAddCabinModalOpen = false"
    (modelSuccess)="successAddCabinModal($event)"
  />
</ion-content>
