<div class="tw-m-4 tw-flex tw-w-fill-available tw-flex-col tw-gap-y-4">
  @for (employee of employeesData.items; track employee.id) {
    <div
      class="tw-flex tw-w-full tw-items-center tw-rounded-xl tw-bg-gray-100 tw-px-4 tw-py-2"
      (click)="navigateDetailsPage(employee)"
    >
      <div class="tw-grow">
        <div
          class="tw-font-roboto tw-text-base tw-font-normal tw-text-gray-900"
        >
          Name
        </div>
        <div class="tw-font-roboto tw-text-lg tw-font-bold tw-text-gray-900">
          {{ employee.name }}
        </div>
        <div
          class="tw-font-roboto tw-text-base tw-font-normal tw-text-gray-900"
        >
          {{ !employee.email ? 'N/A' : employee.email }}
        </div>
      </div>

      <ion-icon class="tw-text-3xl tw-text-gray-900" name="chevron-forward" />
    </div>
  }
</div>
